.radius{
    border-radius: 10px !important;
}

.radius-top{
    border-radius: 10px 10px 0 0 !important;
}

.radius-top-left{
    border-radius: 1px 0 0 0 !important;
}

.radius-top-right{
    border-radius: 0 0 10px 0 !important;
}

.radius-bottom-right{
    border-radius: 0 0 10px 0 !important;
}

.radius-bottom-left{
    border-radius: 0 0 0 10px !important;
}

.radius-right{
    border-radius: 0 10px 10px 0 !important;
}

.radius-left{
    border-radius: 10px 0 0 10px !important;
}

.radius-left-0{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.radius-bottom{
    border-radius: 0 0 10px 10px !important;
}

.cursor-pointer{
    cursor: pointer !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.hide-increment[type=number] {
  -moz-appearance: textfield;
}

.sentence-case{
    text-transform: lowercase !important;
}

.sentence-case::first-letter{
    text-transform: uppercase !important;
}

.forum-container{
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
}

  .text-small {
    font-size: 0.9rem;
  }

  .messages-box{
      height: 630px;
      overflow-y: scroll;
  }

  .chat-box {
    height: 600px;
    overflow-y: scroll;
  }

  .rounded-lg {
    border-radius: 0.5rem;
  }

  input::placeholder {
    font-size: 0.9rem;
    color: #999;
  }

  .tag-badge{
    background-color: #ffba00;
    font-size: 14px;
    font-family: "Gordita";
    font-weight: 400;
    padding: 0 25px;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    color: #fff;
}

.bg-soft-primary{
    background-color: #e5f4eb;
}

.app-menu{

}

.app-menu .app-menu-item{
    transition: all 500s ease-in-out ;
}

.app-menu .app-menu-item:hover{
    background-color: white !important;
    color: #309255 !important;
}

.rounded-img-lg{
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.rounded-img{
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.rounded-img-lg img, .rounded-img img{
    position: absolute;
    object-fit: cover;
    object-position: center;
    min-height: 100%;
    min-width: 100%;
}

.tag-item{
    background-color: #ffba00;
    font-size: 14px;
    font-family: "Gordita";
    font-weight: 400;
    padding: 0 25px;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    color: #fff;
}

.img-cover{
    position: absolute;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    min-height: 100%;
}

.light-tag {
    width: auto;
    height: 35px;
    line-height: 35px;
    background-color: #e7f8ee;
    border-radius: 5px;
    font-size: 14px;
    color: #309255;
    text-align: center;
    border-radius: 5px;
    padding: 0 10px;
}

.img-height{
    height: 150px !important;
    position: relative;
    overflow: hidden;
}

.bg-light-primary{
    background-color: #e7f8ee;
}

.btn-light{
    padding: 0 20px;
    height: 45px;
    line-height: 39px;
    border: 1px solid rgba(48, 146, 85, 0.2);
    font-size: 15px;
    margin-top: 30px;
    width: auto;
}

.btn-light:hover{
    border-color: #309255;
}

@media only screen and (min-width: 1024px){
    .banner-header{
        margin-top: 100px;
    }
}

.btn-custom{
    font-size: 14px;
    line-height: 3.5;
}


